<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add
			name = "connectionToDBQuestion7"	
			connectionString ="Server = SEZER-EV\SQLEXPRESS; Database = DB_QUESTION7_SEZER_ALAGOZ; Integrated Security = true;"
			providerName = "System.Data.SqlClient"
		/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>